.MMM-LINQConnectCalendar th {
  color: #f8dd70;
}

.MMM-LINQConnectCalendar .dateTh,
.MMM-LINQConnectCalendar .dateTd {
  padding-right: 10px;
  text-align: left;
}

.MMM-LINQConnectCalendar .eventTh,
.MMM-LINQConnectCalendar .eventTd {
  text-align: left;
}

.MMM-LINQConnectCalendar .eventTd {
  font-weight: 300;
}

.MMM-LINQConnectCalendar .today {
  color: black;
  background-color: white;
}